/* Cómo ordenar los estilos:
1- Todo lo relacionado a posicionamiento: static, absolute, relative.
2- Todo lo relacionado al modelo de caja: margin, border, padding, etc.
3- Todo lo relacionado a la tipografía: font-family, font-size, font-weight, etc.
4- Todo lo relacionado a los estilos visuales: box-shadow, border-radius, gradient, etc.
5- Otros
*/

:root {
    --linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --dark-grey: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%)
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 42px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 24px;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 231px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--title-container .header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main--exchange-container {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main--exchange-container .main--exchange-container--title {
    display: flex;
    flex-direction: column;
    min-width: 288px;
    max-width: 900px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.main--exchange-container .main--background-img {
    width: 195px;
    height: 195px;
    margin: auto;
    background-image: url(./assets/img/bitcoin.svg);
}

.main--exchange-container .main--exchange-container--title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    inline-size: 2.6px;
    width: 288px;
    height: 58px;
    align-self: center;
    color: var(--warm-black);
}

.main--exchange-container .main--exchange-container--title p {
    font-size: 1.4rem;
    font-weight: 500;
    inline-size: 1.8px;
    width: 288px;
    height: 52px;
    align-self: center;
    margin-top: 24px;
    color: var(--dark-grey);
}

.main-currency-table,
.main-comision-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 260px;
    margin: 0 auto; /*No agrega margen arriba y abajo, pero de los costados se posiciona automaticamente para quedar en el centro*/
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title,
.main-comision-table .comision-table--title {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 1.8rem;
    inline-size: 2.3rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}

.main-currency-table .currency-table--container table,
.main-comision-table .comision-table--container table{
    width: 100%;
    height: 100%;
}

.main-currency-table .currency-table--container td,
.main-comision-table .comision-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    padding: 10px 12px;
}

.table__top-left {
    border-radius: 8px 0 0 0;
}

.table__top-right {
    border-radius: 0 8px  0 0;
}

.table__bottom-left {
    border-radius: 0 0 0 8px;
}

.table__bottom-right {
    border-radius: 0 0 8px 0;
}

.main-currency-table .currency-table--container .table__right,
.main-comision-table .comision-table--container .table__right {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

#table-1,
#table-3,
#table-4 {
    display: inline-block;
    width: 20px;
    height: 12px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-repeat: no-repeat;
}

#table-2 {
    display: inline-block;
    width: 20px;
    height: 12px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-repeat: no-repeat;
}

.main--exchange-container .currency-table--date,
.main--exchange-container .comision-table--date {
    padding: 8px;
    gap: 10px;
    width: 183px;
    height: 31px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 25px auto;
    color: var(--warm-black);
}

.main-comision-table .comision-table--title {
    color: var(--secondary-blue);
}

.main--exchange-container .comision-table--date {
    background-color: var(--soft-blue);
}

.main-product-detail {
    position: relative;
    width: 90%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.main-product-detail .potato {
    position: absolute;
    width: 40px;
    height: 24px;
    top: calc(0% - 12px);
	left: calc(50% - 20px);
    background-image: url("./assets/icons/batata.svg");
}

.main-product-detail .main-product-detail--title {
    width: 288px;
    height: auto;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin: 25px auto;
    color: var(--just-white)
}

.main-product-detail .main-product-detail--subtitle {
    width: 288px;
    height: auto;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #808080;
}

.product-detail--card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    margin-top: 25px;
    border-radius: 4px;
    background-color: var(--warm-black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 16px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock {
    background-image: url("./assets/icons/clock.svg");
}

.eye {
    background-image: url("./assets/icons/eye.svg");
}

.dollar {
    background-image: url("./assets/icons/dollar-sign.svg");
}

.check {
    background-image: url("./assets/icons/check-circle.svg");
}

.product-detail--card .product--card-title {
    width: 288px;
    font-size: 1.8rem;
    inline-size: 1.8rem;
    font-weight: 700;
    margin-left: 16px;
    color: var(--just-white);
}

.product-detail--card .product--card-body {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-left: 16px;
    color: #808080;
}